:root{
    --Blue500: hsl(215, 51%, 70%);
    --Cyan400: hsl(178, 100%, 50%);
    --Blue950-main-bg: hsl(217, 54%, 11%);
    --Blue900-card-bg: hsl(216, 50%, 16%);
    --Blue800-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
.card-component-main{
    width: 100%;
    height: 100vh;
    background: var(--Blue950-main-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-component-main .card{
    max-width: 350px;
    background: var(--Blue900-card-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.card{
    padding: 25px;  
}

/* ========== image part =========== */

.card .card-img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card .card-img img{
    width: 100%;
    display: block;
}

.card .card-img .icon{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsla(178, 100%, 50%, 0.35);
    opacity: 0;
    cursor: pointer;
    transition: 0.4s;
}
.card .card-img .icon img{
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.card .card-img:hover .icon{
    opacity: 1;
}

/* ========= info part =========== */

.top-info h1{
    padding: 15px 0;
}
.top-info h1 a{
    text-decoration: none;
    color: var(--White);
    font-size: 23px;
    font-weight: 600;
    transition: color 0.4s;
}
.top-info h1 a:hover,
.bottom-info .name a:hover{
    color: var(--Cyan400);
}
.top-info p{
    color: var(--Blue500);
    font-size: 18px;
    font-weight: 400;
}
.middle-info{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--Blue800-line);
}
.middle-info .price,
.middle-info .date{
    display: flex;
    padding: 25px 0;
}
.middle-info .price img,
.middle-info .date img{
    padding-right: 6px;
}

.middle-info .price p{
    color: var(--Cyan400);
    font-weight: 600;
}

.middle-info .date p{
    color: var(--Blue500);
    font-weight: 400;
}
.bottom-info{
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 5px;
}
.bottom-info .photo{
     width: 35px;
     height: 35px;
     margin-right: 16px;
    }
    .bottom-info .photo img{
        width: 100%;
        border: 2px solid var(--White);
        border-radius: 50%;
}
.bottom-info .name p{
     color: var(--Blue500);
     font-size: 16px;
     font-weight: 400;
    }
    .bottom-info .name p a{
        color: var(--White);
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        transition: 0.4s;
}

/* ============== Author Part ========= */

.attribution {
    padding-top: 20px;
}
.attribution p{
    color: var(--Blue500);
}
.attribution a:first-child{
    padding-right: 5px;
}
.attribution a{
    color: var(--White);
    text-decoration: none;
    transition: 0.4s;
}
.attribution a:hover{
    color: var(--Cyan400);
}
