:root{
    /* ====== Primary color ======= */
    --purple50: hsl(260, 100%, 95%);
    --purple300: hsl(264, 82%, 80%);
    --purple500: hsl(263, 55%, 52%);

    /* ======= Neutral =========== */
    --white: hsl(0, 0%, 100%);
    --grey100: hsl(214, 17%, 92%);
    --lightGrey: hsl(0, 0%, 81%);
    --grey400: hsl(224, 10%, 45%);
    --grayishBlue: hsl(217, 19%, 35%);
    --darkblue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 30px;
}
.content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    max-width: 1100px;
    gap: 25px 30px;
    grid-template-areas: 
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
}
/* ===== specific selector ===== */
.card-1{
    grid-area: daniel;
    background-color: var(--purple500);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 60px;
}
.card-1 img{
    border: 2px solid var(--purple300);
}

.card-2{
    background-color: var(--grayishBlue);
    grid-area: jonathan;

}
.card-3{
    background-color: var(--white);
    grid-area: jeanette;
}

.card-4{
    background-color: var(--darkblue);
    grid-area: patrick;
}
.card-4 img{
    border: 2px solid var(--purple500);
}

.card-5{
    background-color: var(--white);
    grid-area: kira;
}
.card-2 img,
.card-3 img,
.card-5 img{
    border: 2px solid transparent;
}

/* ===== general selector ===== */
.cards{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(5, 5, 5, 0.4);
}
.cards h4{
    margin-bottom: 13px;
    font-weight: 600;
}
.cards .profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.cards .profile{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    line-height: 1.3;
}
.cards .profile .info{
    margin-left: 12px;
    color: var(--lightGrey);
}

.cards .info h3{
    font-size: 13px;
    font-weight: 500;
}
.cards .info p{
    font-size: 11px;
}
.cards .details h4{
    font-size: 20px;
    color: var(--grey100);
}
.cards .details p{
    color: var(--lightGrey);
    line-height: 1.4;
}

.card-3 .info p,
.card-3 .info h3{
    color: var(--grey400);
}
.card-3 .details p{
    color: var(--grey400);
}
.card-3 .details h4{
    color: var(--grayishBlue);
}

.card-5 .info p,
.card-5 .info h3{
    color: var(--grey400);
}
.card-5 .details p{
    color: var(--grey400);
}
.card-5 .details h4{
    color: var(--grayishBlue);
}

/* =========== responsive ============ */
@media (max-width: 1200px){
    .content{
        max-width: 1100px;
        grid-template-areas: 
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
    }
}
@media (max-width: 992px){
    .content{
        grid-template-columns: repeat(5, 1fr);
        max-width: 850px;
        grid-template-areas: 
    "daniel daniel daniel jonathan jonathan"
    "jeanette jeanette patrick patrick patrick"
    " kira kira kira kira kira";
    }
}
@media (max-width: 768px){
    .content{
        grid-template-columns: 1fr;
        max-width: 700px;
        grid-template-areas: 
    "daniel"
    "jonathan"
    "jeanette"
    "patrick"
    "kira";
    }
    .card-1{
    background-image: none;
    }
}